node_modules/
.npm
.cache

dist/
www/
build/

capacitor.config.json.tmp

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.externalNativeBuild
android/.cxx
android/*.iml

ios/DerivedData/
ios/Build/
ios/App/build/
ios/App/Index/
ios/App/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/
ios/App/App.xcodeproj/xcuserdata/
*.moved-aside
*.xcuserstate

*.keystore
*.jks
*.p12
*.pem

.env
*.env.local