/.idea/
*.iml
/dist/
/static/public/*
/mailing/dkim.txt
/venv/
/.venv/
/static/*_filled
crontab
node_modules/
yarn.lock
.parcel-cache/
/static/attachments/*
/static/markdown/
/static/framework/
/test-results/
/playwright-report/
serviceAccountKey.json
