@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Arimo-VariableFont_wght.ttf') format("truetype-variations");
    font-display: swap;
}

form h6 {
    color: #404040;
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
}

html, body {
    margin:0;
    width: 100vw;
    z-index: 20;
    background: white;
    position: fixed;
    height: 100svh;
    display:flex;
    top: 0;
    box-shadow: 10px 10px 34px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 34px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px -14px rgba(0,0,0,0.75);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    --lefancypuple: #667dff;
    font-family: 'Arimo', sans-serif;
}

.input {
    border-style: solid;
    font-size: 16px;
    height: 52px;
    padding: 0 16px;
    width: calc(100% - 32px);
    color: #2d333a;
    background-color: white;
    border-radius: 5px;
    margin: 1rem 0;
    border: 1px solid #c2c8d0;
}

.submit {
    background-color: var(--lefancypuple);
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    min-height: 52px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 350px;
}

form p {
    color: #404040;
    font-size: 1rem;
    margin: 0.8rem 0;
    text-align: center;
    line-height: 1.3rem;
}

form p a{
    color: #404040;
}
#messageframe {
    height: 2rem;
    border: none;
    color: red;
    font-size: 1rem;
}

input.disabled {
    cursor: not-allowed;
    pointer-events: bounding-box;
    color: #7b7b7b;
    background: #f1f1f1;
}

.action {
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}
