body{
    margin: 0;
    min-height: 100svh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    --blue: rgba(88, 101, 242, 1);
    --blue-shadow: rgba(88, 101, 242, 0.6);
    --white: #fcfcfc;
    --black: #171715;
    background: var(--black);
    overflow: hidden;
}

header{
    background: var(--black);
    width: 100%;
    height: 5rem;
    display: flex;
    color: var(--white);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h2{
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    line-height: 3.7rem;
    z-index: 1;
}

p{
    width: 50%;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
}

footer{
    height: 20svh;
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#pres{
    background: var(--black);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 3rem 0 8rem 0;
}

.btn {
    border-radius: 4rem;
    padding: 0.6rem 1rem;
}
.white {
    background: var(--white);
    color: var(--black);
}

.black {
    background: var(--black);
    color: var(--white);
}

header .btn {
    font-weight: 800;
    font-size: 0.8rem;
}

#pres .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.img{
    height: calc(50svh + 2rem);
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    padding: 1rem;
    background: #6370855e;
    transform: translate(31%, 0);
    backdrop-filter: blur(2px);
    filter: drop-shadow(-3px 3px 8px #00000063);
    user-select: none;
}

.img img{
    height: 100%;
    border-radius: 1rem;
}

.bg{
    height: 172vh;
    position: fixed;
    right: 0;
    transform: translate(8%, 3svh) rotate(322deg);
    pointer-events: none;
}

.side-text{
    position: absolute;
    top: 45svh;
    left: 13vw;
}

h3{
    font-size: 2.7rem;
    margin: 1.5rem 0;
}

@media (max-aspect-ratio:12/9) {
    .side-text{
        visibility: hidden;

    }
}

@media (orientation:portrait) {
    h2{
        font-size: 1.7rem;
        line-height: 2rem;
        width: 90%;
    }

    .img {
        height: auto;
        width: 80vw;
        border-radius: 0.5rem;
        padding: 0.5rem;
        transform: none;
    }

    .img img {
        width: 100%;
        border-radius: 0.5rem;
    }

    footer p{
        display: none;
    }

    footer{
        height: 6svh;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 0.9rem;
        background: #6370855e;
        backdrop-filter: blur(2px);
        filter: drop-shadow(-3px 3px 8px #00000063);
    }

    #pres{
        height: 62svh;
        padding: 13svh 0 0 0;
    }
}
