<h1>Mon Compte</h1>
<div class="user-profile">
    <div class="banner"></div>
    <div class="profil-picture"></div>
    <div class="profil-wrapper">
        <div class="profil-badges"></div>
        <div class="profil-infos">
            <div class="inline">
                <div class="vertical">
                    <h3>NOM D'AFFICHAGE</h3>
                    <p>${Subscribe('global.user.display',()=>{return(global.user.display)})}</p>
                </div>
                <div class="btn grey" onclick="goTo( 'setting-content', 'profile-settings')">Modifier</div>
            </div>
            <div class="inline">
                <div class="vertical">
                    <h3>NOM D'UTILISATEUR</h3>
                    <p>${global.user.username}</p>
                </div>
                <div class="btn grey" onclick="openMenu('change-username')">Modifier</div>
            </div>
        </div>
    </div>
</div>
<hr>
<h3>SUPPRESSION DU COMPTE</h3>
Attention la suppression concerne TOUS les services carbonlab
<div class="btn red">Supprimer le compte</div>
