<div id="sec-selector"></div>
<div id="profile">
  <div id="profil" onclick="toggleFM('profil-menu')">
    <div class="pfp red">
      <div class="activity-wrapper">
        <div class="activity green"></div>
      </div>
    </div>
    <div>
      <div class="name">${Subscribe('global.user.display',()=>{return(global.user.display)})}</div>
      <div class="info-wrapper">
        <div class="info-chariot">
          <p>En ligne</p>
          <div>${Subscribe('global.user.username',()=>{return(global.user.username)})}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="icon-wrapper mute" onclick="mute()">
    <img class="icon" src="icons/material/mic.svg"/>
    <span class="tooltip bottom">Rendre Muet</span>
    <div class="line red medium visible"></div>
  </div>
  <div class="icon-wrapper" onclick="deafen()">
    <img class="icon" src="icons/material/headset.svg"/>
    <span class="tooltip bottom">Mettre en sourdine</span>
    <div class="line red medium"></div>
  </div>
  <div class="icon-wrapper" onclick="openMenu('settings')">
    <img class="icon" src="icons/material/settings.svg"/>
    <span class="tooltip bottom">Paramètres utilisateur</span>
  </div>
  <div id="profil-menu" class="flying-menu">
    <div class="banner"></div>
    <div class="profil-picture"></div>
    <div class="profil-wrapper">
      <div class="profil-badges"></div>
      <div class="profil-infos">
        ${Subscribe('global.user.display',()=>{return(global.user.display)},"name")}
        ${Subscribe('global.user.username',()=>{return(global.user.username)},"username")}
        ${Subscribe('global.user.pronouns',()=>{return(global.user.pronouns)},"pronouns")}
        <hr>
        <p>${Subscribe('global.user.description',()=>{return(global.user.description ? "<h3>ABOUT ME</h3>".concat(MDToHTML(global.user.description)) : "")},"mdBlock")}</p>
        <h3>DISCLONE MEMBER SINCE</h3>
        ${Subscribe('global.user.inscription',()=>{return(getTimeStr(global.user.inscription,{ locale: "fr-FR",hour: undefined, minute: undefined}))})}
        <hr>
        <div class="action">
          <div>
            <div class="status"><div class="circle green"></div></div>
            <p>Online</p>
          </div>
          <img class=icon src="icons/material/next.svg"/>
          <div class="hover-menu-hitbox">
            <div class="hover-menu">
              <div onclick="changeStatus('online')">
                <div class="inline">
                  <div class="smol activity-wrapper">
                    <div class="activity green"></div>
                  </div>
                  <h4>Online</h4>
                </div>
              </div>
              <hr>
              <div onclick="changeStatus('idle')">
                <div class="inline">
                  <div class="smol activity-wrapper">
                    <div class="activity orange"></div>
                  </div>
                  <h4>Idle</h4>
                </div>
              </div>
              <div onclick="changeStatus('not disturb')">
                <div class="vertical">
                  <div class="inline">
                    <div class="smol activity-wrapper">
                      <div class="activity RED"></div>
                    </div>
                    <h4>Do Not Disturb</h4>
                  </div>
                  <p>You will not receive any desktop notifications.</p>
                </div>
              </div>
              <div onclick="changeStatus('invisible')">

                <div class="vertical">
                  <div class="inline">
                    <div class="smol activity-wrapper">
                      <div class="activity spymode"></div>
                    </div>
                    <h4>Invisible</h4>
                  </div>
                  <p>You will not appear online, but you will have full access to all of Disclone.</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
          </div>
        <div class="action">
          <div>
            <img class=icon src="icons/material/emoji.svg"/>
            <p>Set Custom Status</p>
          </div>
        </div>
        <hr>
        <div class="action">
          <div>
            <img class=icon src="icons/material/switch.svg"/>
            <p>Switch Accounts</p>
          </div>
          <img class=icon src="icons/material/next.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>