<div id="sec-selector"></div>
<div id="profile">
  <div id="profil" onclick="toggleFM('profil-menu')">
    <div class="pfp red">
      <div class="activity green"></div>
    </div>
    <div>
      <div class="name">${Subscribe('global.user.display',()=>{return(global.user.display)})}</div>
      <div class="info-wrapper">
        <div class="info-chariot">
          <p>En ligne</p>
          <p>${global.user.username}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="icon-wrapper mute" onclick="mute()">
    <div class="icon"></div>
    <span class="tooltip bottom">Rendre Muet</span>
    <div class="line red medium visible"></div>
  </div>
  <div class="icon-wrapper" onclick="deafen()">
    <div class="icon"></div>
    <span class="tooltip bottom">Mettre en sourdine</span>
    <div class="line red medium"></div>
  </div>
  <div class="icon-wrapper" onclick="openMenu('settings')">
    <div class="icon"></div>
    <span class="tooltip bottom">Paramètres utilisateur</span>
  </div>
  <div id="profil-menu" class="flying-menu">
    <div class="banner"></div>
    <div class="profil-picture"></div>
    <div class="profil-wrapper">
      <div class="profil-badges"></div>
      <div class="profil-infos">${global.user.display}</div>
    </div>
  </div>
</div>