<div class="selected-info">
    <div class="group">
        <div class="inline-thingy">
            <div class="title"><div class="circle grey"></div>Amis</div>
            <hr>
            <div class="cat selected" onclick="goTo('friends-block','main-friend',{'category':'currentFriendTab' ,'event': event})">En ligne</div>
            <div class="cat" onclick="goTo('friends-block','all-friend',{'category':'currentFriendTab' ,'event': event})">Tous</div>
            <div class="cat" onclick="goTo('friends-block','waiting-friend',{'category':'currentFriendTab' ,'event': event})">En attente</div>
            <div class="cat" onclick="goTo('friends-block','blocked',{'category':'currentFriendTab' ,'event': event})">Bloqué</div>
            <div class="green btn" onclick="goTo('friends-block','add-friend',{'category':'currentFriendTab' ,'event': event})">Ajouter</div>
        </div>
    </div>
    <div class="group">
        <div class="backdrop-bidule"></div>
        <div class="grey circle"></div>
        <hr>
        <div class="grey circle" style="margin-right: 0.8rem;"></div>
        <div class="grey circle"></div>
    </div>
</div>
<div id="friends-block">

</div>