<div class="item">
    <div class="container">
        <div class="inline">
            <div class="pfp green">
                <div class="activity-wrapper">
                    <div class="activity spymode"></div>
                </div>
            </div>
            <div class="vertical">
                <h5>${global.users[getRelevantUser(element)].display}</h5>
                <p>Hors ligne</p>
            </div>
        </div>
        <div class="inline reverse">
            <div class="action">
                <span class="tooltip bottom">More</span>
                <img class="icon medium" src="icons/material/more.svg">
            </div>
            <div class="action" onclick="goToConv(${element.conv})">
                <span class="tooltip bottom">Message</span>
                <img class="icon medium" src="icons/material/message.svg">
            </div>
        </div>
    </div>
</div>