<div class="item">
    <div class="container">
        <div class="inline">
            <div class="pfp green">
                <div class="activity grey"></div>
            </div>
            <div class="vertical">
                <h5>${global.users[getRelevantUser(element)].display}</h5>
                <p>Hors ligne</p>
            </div>
        </div>
        <div class="inline reverse">
            <div class="action" onclick="goTo('content','conversation')">
                <span class="tooltip bottom">Send a DM</span>
                <div class="circle grey"></div>
            </div>
            <div class="action">
                <span class="tooltip bottom">More</span>
                <div class="circle grey"></div>
            </div>
        </div>
    </div>
</div>