<div class="selected-info">
    <div class="group">
        <div class="inline-thingy">
            <div class="title"><div class="circle grey"></div>Amis</div>
            <hr>
            <div class="cat selected" onclick="goTo('friends-block','main-friend')">En ligne</div>
            <div class="cat" >Tous</div>
            <div class="cat" onclick="goTo('friends-block','waiting-friend')">En attente</div>
            <div class="cat">Bloqué</div>
            <div class="green btn" onclick="goTo('friends-block','add-friend')">Ajouter</div>
        </div>
    </div>
    <div class="group">
        <div class="backdrop-bidule"></div>
        <div class="grey circle"></div>
        <hr>
        <div class="grey circle" style="margin-right: 0.8rem;"></div>
        <div class="grey circle"></div>
    </div>
</div>
<div id="friends-block">

</div>