<div class="item">
    <div class="container">
        <div class="inline">
            <div class="pfp green">
                <div class="activity grey"></div>
            </div>
            <div class="vertical">
                <h5>${global.users[element.kopinprincipal].display}</h5>
                <p>Hors ligne</p>
            </div>
        </div>
        <div class="inline reverse">
            <div class="action">
                <div class="circle grey"></div>
            </div>
            <div class="action" onclick="friend('accept',${element.id})">
                <div class="circle grey"></div>
            </div>
        </div>
    </div>
</div>