<section id="settings" style="display:none">
  <div id="settings-list" class="scrollable">
    <section id="user-settings">
      <h3>PARAMÈTRES UTILISATEURS</h3>
      <div class="item selected"  onclick="goTo('setting-content', 'account-settings')">Mon compte</div>
      <div class="item" onclick="goTo( 'setting-content', 'profile-settings')">Profils</div>
      <div class="item">Confidentialité & sécurité</div>
      <div class="item">Demandes d'amis</div>
      <hr>
    </section>
    <section id="app-settings">
      <h3>PARAMÈTRES DE L'APPLI</h3>
      <div class="item">Voix & Vidéo</div>
      <div class="item">Discuter</div>
      <div class="item">Notifications</div>
      <div class="item">Raccourcis clavier</div>
      <div class="item">Langue</div>
      <div class="item">Mode streamer</div>
      <hr>
    </section>
    <section id="account-actions" onclick="logout()">
      <div class="item">Déconnexion
        <div class="grey circle"></div>
      </div>
      <hr>
    </section>
    <section id="misc-information">
      <div class="misc">demo v0</div>
    </section>
  </div>
  <div id="setting-panel" class="scrollable">
    <div class="close" onclick="closeMenu('#settings')">+</div>
    <div id="setting-content">
      ${getTemplate('account-settings')}
    </div>
  </div>
</section>