<h1>${_t("Mon Compte")}</h1>
<div class="user-profile">
    <div class="banner">
        ${Subscribe('global.user.banner',()=>{return global.user.banner ? 'background-image: url(/static/attachments/'+global.user.banner+');' : '';},"banner",{"target":"style"})}
    </div>
    ${Subscribe('global.user.pfp',()=>{return 'background-image:url(/static/attachments/'+global.user?.pfp+');'},"profil-picture",{"target":"style"})}
    <div class="profil-wrapper">
        <div class="profil-badges">
            <div class="name">${Subscribe('global.user.display',()=>{return(global.user.display)})}</div>
        </div>
        <div class="profil-infos">
            <div class="inline space-between">
                <div class="vertical">
                    <h3>${_t("DISPLAY NAME")}</h3>
                    ${Subscribe('global.user.display',()=>{return(global.user.display)})}
                </div>
                <div class="btn gray2" onclick="goTo( 'setting-content', 'profile-settings',{'category':'currentSettingTab', 'id':'profil-settings'})">${_t("Edit")}</div>
            </div>
            <div class="inline space-between">
                <div class="vertical">
                    <h3>${_t("USER NAME")}</h3>
                    ${Subscribe('global.user.username',()=>{return(global.user.username)})}
                </div>
                <div class="btn gray2" onclick="openMenu('change-username')">${_t("Edit")}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<h3>${_t("EMAIL ADDRESSES")}</h3>
<div class="vertical" style="margin-top: 1rem;">
    <h4>${_t("Additional Emails")}</h4>
    <p>${_t("You can add multiple email addresses to your account.")}</p>
    <div class="scrollable" style="max-height: 200px; margin-top: 0.5rem;height: fit-content;">
        ${Subscribe("global.user.additional_emails", () => fillWith("email-card", global.user.additional_emails), 'column')}
    </div>
    <div class="inline space-between" style="margin-top: 1rem;">
        <input type="email" id="new-email-input" placeholder="${_t('Enter a new email address')}" style="flex: 1; margin-right: 1rem;">
        <div class="btn blue" onclick="addEmail()">${_t("Add Email")}</div>
    </div>
</div>
<hr>
<h3>${_t("ACCOUNT DELETION")}</h3>
<p>${_t("Attention la suppression concerne TOUS les services carbonlab")}</p>
<div class="btn red" onclick="goodbye()">${_t("Delete account")}</div>
