<h1>${_t("Mon Compte")}</h1>
<div class="user-profile">
    <div class="banner"></div>
    ${Subscribe('global.user.pfp',()=>{return 'background-image:url(/static/attachments/'+global.user?.pfp+');'},"profil-picture",{"target":"style"})}
    <div class="profil-wrapper">
        <div class="profil-badges">
            <div class="name">${Subscribe('global.user.display',()=>{return(global.user.display)})}</div>
        </div>
        <div class="profil-infos">
            <div class="inline space-between">
                <div class="vertical">
                    <h3>${_t("DISPLAY NAME")}</h3>
                    ${Subscribe('global.user.display',()=>{return(global.user.display)})}
                </div>
                <div class="btn gray2" onclick="goTo( 'setting-content', 'profile-settings',{'category':'currentSettingTab', 'id':'profil-settings'})">${_t("Edit")}</div>
            </div>
            <div class="inline space-between">
                <div class="vertical">
                    <h3>${_t("USER NAME")}</h3>
                    ${Subscribe('global.user.username',()=>{return(global.user.username)})}
                </div>
                <div class="btn gray2" onclick="openMenu('change-username')">${_t("Edit")}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<h3>${_t("ACCOUNT DELETION")}</h3>
<p>${_t("Attention la suppression concerne TOUS les services carbonlab")}</p>
<div class="btn red" onclick="goodbye()">${_t("Delete account")}</div>
