<div class="add">
    <h2>${_t("ADD FRIEND")}</h2>
    <p>${_t("You can add friends with their Disclone username.")}</p>
    <div class="search">
        <label style="width: 100%;">
            <input class="fill" type="text" id="addFriendInput" placeholder="${_t('You can add friends with their Disclone username.')}" onkeydown="checkEnter(event, ()=>{friend('add','addFriendInput')})">
        </label>
        <div class="btn-wrapper">
            <div class="btn blue" onclick="friend('add','addFriendInput')">
                ${_t("Send Friend Request")}
            </div>
        </div>
    </div>
    <div class="status">
    </div>
</div>

