<div>
    <h1>Admin Channel</h1>
    <p>See an app dashboard</p>
    <div style="display: flex; align-items: center; gap: 10px;">
        <div class="dropdown" id="services-dropdown">
            <div class="dropdown-button" onclick="toggleDropdown(event)">
                <div class="dropdown-text global-state-currentDashboard" data-content="getDashboardLabel">✉️ Disclone</div>
                <div class="icon-wrapper">
                    <img class="icon down" src="/static/icons/material/down.svg"/>
                    <img class="icon up" src="/static/icons/material/up.svg"/>
                </div>
            </div>
            <ul class="dropdown-menu">
                <li class="dash-uniauth" onclick="setDashboard('uniauth')">🔒️ Uniauth</li>
                <li class="selected dash-disclone" onclick="setDashboard('disclone')">✉️ Disclone</li>
                <li class="dash-synapse" onclick="setDashboard('synapse')">️📒‍ Synapse</li>
                <li class="dash-mailing" onclick="setDashboard('mass-mailing', true)">️ Mailing</li>
            </ul>
        </div>
        <button id="refresh-dashboard-btn" class="refresh-button" onclick="refreshDashboard()" title="Refresh Unibridge">
            <img class="icon down" src="/static/icons/material/refresh.svg"/>
        </button>
    </div>
    <div id="dashboard">
        ${getDashboard('disclone')}
    </div>
</div>