<div class="search">
    <label style="width: 100%;">
        <input type="text" placeholder="Rechercher">
    </label>
    <div class="icon-wrapper">
        <img class="icon" src="/static/icons/material/search.svg"/>
    </div>
</div>
<div class="h2">${_t("TOUS LES AMIS")} ─ ${Subscribe("global.user.friends", () => {return global.user.friends.length})}</div>
<div id="" class="scrollable">
    ${Subscribe("global.user.friends", () => fillWith("friendCard", global.user.friends), 'column')}
</div>
<div class="modale" id="more-friends">
    <div class="item crit" onclick="friend('remove', global.state.modaltarget)">${_t("Retirer l'ami")}</div>
</div>