<div class="attachment-item ${isImageAttachment(element) ? 'image-attachment' : 'file-attachment'}">
    ${isImageAttachment(element)
        ? `<img src="/static/attachments/${element?.filepath ? element.filepath : element}" alt="attachment"/>`
        : `<a href="/static/attachments/${element.filepath}" download="${element.filename}" class="file-download">
            <img class="icon" src="/static/icons/material/paperclip.svg" alt=""/>
            <span class="file-name">${element.filename}</span>
            <img class="icon download-icon" src="/static/icons/material/download.svg" alt="download"/>
        </a>`
    }
</div>


