<div class="search">
    <label style="width: 100%;">
        <input type="text" placeholder="${_t('Rechercher')}">
    </label>
    <div class="icon-wrapper">
        <img class="icon" src="/static/icons/material/search.svg"/>
    </div>
</div>
<div class="h2">${_t("BLOCKED")} ─ ${Subscribe("global.user.blocked", () => {return Object.keys(global.user.blocked).length})}</div>
<div class="scrollable">
    ${Subscribe("global.user.blocked", () => fillWith("blockedCard", global.user.blocked), 'column')}
</div>