${element.type === 'join' ? `
    <div class="call-join-controls">
        <button class="call-btn call-btn-decline" data-haptic="heavy" onclick="declineCallSection(${parseInt(element.callId, 10)})" title="${_t('Refuser')}">
            <img class="icon" src="/static/icons/material/call.svg"/>
        </button>
        <button class="call-btn call-btn-accept" data-haptic="medium" onclick="joinExistingCall(${parseInt(element.callId, 10)}, ${!!element.isVideo})" title="${_t('Rejoindre')}">
            <img class="icon" src="/static/icons/material/call.svg"/>
        </button>
    </div>
` : element.type === 'controls' ?
    getTemplate('call-controls')
: element.type === 'info' ? `
    <div class="call-info-action">
        <img class="icon" src="/static/icons/material/${element.icon}.svg" alt="${element.label}"/>
        <span class="action-label">${_t(element.label)}</span>
    </div>
` : ''}
