
<div class="controls-buttons">
    ${Subscribe('global.state.callManager.isMuted', () => `
        <div class="icon-wrapper ${global.state.callManager?.isMuted ? 'active' : ''}"
             id="call-mute-btn" data-haptic="light" onclick="mute()"
             title="${_t('Activer/Désactiver le micro')}">
            <img class="icon" src="/static/icons/material/mic.svg"/>
            <span class="tooltip bottom">${_t("Micro")}</span>
        </div>
    `)}

    ${Subscribe('global.state.callManager.isVideoOff', () => `
        <div class="icon-wrapper ${global.state.callManager?.isVideoOff ? 'active' : ''}"
             id="call-video-btn" data-haptic="light" onclick="toggleVideo()"
             title="${_t('Activer/Désactiver la caméra')}">
            <img class="icon" src="/static/icons/material/videocam.svg"/>
            <span class="tooltip bottom">${_t("Caméra")}</span>
        </div>
    `)}

    <div class="icon-wrapper hangup" data-haptic="heavy" onclick="leaveCall()" title="${_t('Raccrocher')}">
        <img class="icon" src="/static/icons/material/call.svg"/>
        <span class="tooltip bottom">${_t("Raccrocher")}</span>
    </div>
</div>
