
<div class="controls-buttons">
    <div class="icon-wrapper" id="call-mute-btn" onclick="mute()" title="${_t('Activer/Désactiver le micro')}">
        <img class="icon" src="/static/icons/material/mic.svg"/>
        <span class="tooltip bottom">${_t("Micro")}</span>
    </div>

    <div class="icon-wrapper" id="call-video-btn" onclick="toggleVideo()" title="${_t('Activer/Désactiver la caméra')}">
        <img class="icon" src="/static/icons/material/videocam.svg"/>
        <span class="tooltip bottom">${_t("Caméra")}</span>
    </div>

    <div class="icon-wrapper hangup" onclick="leaveCall()" title="${_t('Raccrocher')}">
        <img class="icon" src="/static/icons/material/call.svg"/>
        <span class="tooltip bottom">${_t("Raccrocher")}</span>
    </div>
</div>

