<section class="menu-wrapper" id="change-username" style="display:none" onclick="closeMenu()">
  <div class="menu">
    <div class="close" onclick="closeMenu('#change-username')">+</div>
    <div class="steps" id="">
      <div class="step">
        <h2>${_t("Change your username")}</h2>
        <p>${_t("Enter a new username.")}</p>
        <input type="text" value="${global.user.username}" id="username-input">
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#change-username')">${_t("Cancel")}</div>
          <div class="btn blue" onclick="changeUsername()">${_t("Done")}</div>
        </div>
      </div>
    </div>
  </div>
</section>