<section class="settings-menu" id="channels-params" style="display:none">
  <div id="settings-list-params" class="scrollable settings-list">
    <section id="">
      <h3>${global.state.modaltarget.innerText}</h3>
      <div class="item selected" onclick="goTo('setting-content', 'channel-main-settings',{'category':'currentSettingTab' ,'event': event})">${_t("Vue d'ensemble")}</div>
      <hr>
      <div class="item">${_t("Supprimer le salon")}
        <div class="grey circle"></div>
      </div>
    </section>
  </div>
  <div id="setting-panel" class="scrollable">
      <div id="setting-server-content" class="setting-content">
        ${getTemplate('channel-main-settings')}
      </div>
      <div class="close" onclick="closeMenu('#channels-params')">+</div>
  </div>
</section>