<div id="sec-selector"></div>
<div id="profile">
  <div id="profil" onclick="toggleFM('profil-menu')">
    <div class="global-user-pfp pfp red" data-target="style" data-content="()=>{return 'background-image:url(/static/attachments/'+global.user?.pfp+');'}">
      <div class="activity-wrapper">
        ${Subscribe('global.user.status.icon',()=>{return "<div class='activity " + (global.user?.status?.icon ?? "green") + "'></div>"}, "grow")}
      </div>
    </div>
    <div>
      <div class="name">${Subscribe('global.user.display',()=>{return(global.user.display)})}</div>
      <div class="info-wrapper">
        <div class="info-chariot">
          ${Subscribe('global.user.status.text',()=>{return(statusText())}, "p")}
          <div>${Subscribe('global.user.username',()=>{return(global.user.username)})}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="icon-wrapper mute" onclick="mute()">
    <img class="icon" src="/static/icons/material/mic.svg"/>
    <span class="tooltip bottom">${_t("Rendre Muet")}</span>
    <div class="line red medium visible"></div>
  </div>
  <div class="icon-wrapper" onclick="deafen()">
    <img class="icon" src="/static/icons/material/headset.svg"/>
    <span class="tooltip bottom">${_t("Mettre en sourdine")}</span>
    <div class="line red medium"></div>
  </div>
  <div class="icon-wrapper" onclick="openMenu('settings')">
    <img class="icon" src="/static/icons/material/settings.svg"/>
    <span class="tooltip bottom">${_t("Paramètres utilisateur")}</span>
  </div>
  <div id="profil-menu" class="flying-menu">
    <div class="banner"></div>
    ${Subscribe('global.user.pfp',()=>{return 'background-image:url(/static/attachments/'+global.user?.pfp+');'},"profil-picture",{"target":"style"})}
    <div class="profil-wrapper">
      <div class="profil-badges"></div>
      <div class="profil-infos">
        ${Subscribe('global.user.display',()=>{return(global.user.display)},"name")}
        ${Subscribe('global.user.username',()=>{return(global.user.username)},"username")}
        ${Subscribe('global.user.pronouns',()=>{return(global.user.pronouns)},"pronouns")}
        <hr>
        <p>${Subscribe('global.user.description',()=>{return(global.user.description ? "<h3>".concat(_t("ABOUT ME"),"</h3>",MDToHTML(global.user.description)) : "")},"mdBlock")}</p>
        <h3>${_t("DISCLONE MEMBER SINCE")}</h3>
        ${Subscribe('global.user.inscription',()=>{return(getTimeStr(global.user.inscription,{ locale: "fr-FR",hour: undefined, minute: undefined}))})}
        <hr>
        <div class="action">
          <div>
            <div class="status">
                ${Subscribe('global.user.status.icon',()=>{return "<div class='circle " + (global.user?.status?.icon ?? "green") + "'></div>"})}
            </div>
            ${Subscribe('global.user.status.mode',()=>{return global.user?.status?.mode ? _t(getDefaultMessage(global.user?.status?.mode)) : _t("Online")}, "p")}
          </div>
          <img class=icon src="/static/icons/material/next.svg"/>
          <div class="hover-menu-hitbox">
            <div class="hover-menu">
              <div onclick="changeStatus(0)">
                <div class="inline">
                  <div class="smol activity-wrapper">
                    <div class="activity green"></div>
                  </div>
                  <h4>${_t("Online")}</h4>
                </div>
              </div>
              <hr>
              <div onclick="changeStatus(1)">
                <div class="inline">
                  <div class="smol activity-wrapper">
                    <div class="activity orange"></div>
                  </div>
                  <h4>${_t("Idle")}</h4>
                </div>
              </div>
              <div onclick="changeStatus(2)">
                <div class="vertical">
                  <div class="inline">
                    <div class="smol activity-wrapper">
                      <div class="activity RED"></div>
                    </div>
                    <h4>${_t("Do Not Disturb")}</h4>
                  </div>
                  <p>${_t("You will not receive any desktop notifications.")}</p>
                </div>
              </div>
              <div onclick="changeStatus(3)">

                <div class="vertical">
                  <div class="inline">
                    <div class="smol activity-wrapper">
                      <div class="activity spymode"></div>
                    </div>
                    <h4>${_t("Invisible")}</h4>
                  </div>
                  <p>${_t("You will not appear online, but you will have full access to all of Disclone.")}</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
          </div>
        <div class="action" onclick="openMenu('custom-status')">
          <div>
            <img class=icon src="/static/icons/material/emoji.svg"/>
            <p>${_t("Set Custom Status")}</p>
          </div>
        </div>
        <hr>
        <div class="action">
          <div>
            <img class=icon src="/static/icons/material/switch.svg"/>
            <p>${_t("Switch Accounts")}</p>
          </div>
          <img class=icon src="/static/icons/material/next.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>
${loadTemplate('menu-custom-status.html')}
