<div id="conv${element.id}" class="item" onclick="${'goToConv('+element.id+')'}">
    <div class="global-user-pfp pfp red" data-target="style" data-content="()=>{return 'background-image:url(/static/attachments/'+global.users[notMe(element.members,true)]?.pfp+');'}" style="background-image:url(/static/attachments/${global.users[notMe(element.members,true)]?.pfp}">

        <div class="activity-wrapper">
            ${element.private ? Subscribe("global.users["+notMe(element.members,true)+"].status.icon",(new_element = element)=>{return(global.users[notMe(new_element.members)].status.icon)},"activity",{"target":"class","element":"global.convs["+element.id+"]"}): ""}
        </div>
    </div>
    <div class="vertical fill">
        ${Subscribe("global.convs["+element.id+"].name", (new_element = element)=>{return getConvName(global.convs[new_element.id])},"ellipsis",{"element":"global.convs["+element.id+"]"})}
        ${element.private ? Subscribe("global.users["+notMe(element.members,true)+"].status",(new_element = element)=>{return(getUserStatus(notMe(new_element.members),true))},"status ellipsis",{"element":"global.convs["+element.id+"]"}): ""}
    </div>
    <div class="close">+</div>
</div>