<div class="neutral" ondragover="event.preventDefault();event.currentTarget.classList.add('dragging')">

    <div class="selected-info">
        <div class="title">
            <div class="circle red"></div>
            ${Subscribe("global.convs["+global.state.activeConv+"].name", ()=>{return getConvName(global.convs[global.state.activeConv], true)})}
        </div>
        <div>
            <div class="icon-wrapper" onclick="toggleFM('add-users')">
                <img class="icon" src="/static/icons/material/groupadd.svg"/>
            </div>
        </div>
    </div>

    <div class="scrollable bottom-margin">
        ${Subscribe('global.convs['.concat(global.state.activeConv,'].messages'),()=>fillWith('messageGroup',global.convs[global.state.activeConv].messageGroups||[]), undefined, {"repaint":()=>(repaintConv(sub, value))})}
        ${global.convs[global.state.activeConv].private ? getTemplate('welcomeConvElement'): getTemplate('welcomeGroupElement')}
    </div>

    <div class="chat-wrapper">
        <div id="replyBox">
            <p>${_t("Répondre à")} <b id="replyName"></b></p>
            <div class="icon-wrapper" onclick="cancelReply()">
                <img class="icon" src="/static/icons/material/closeFilled.svg"/>
            </div>
        </div>
        <div id="imageBox">
            <div>
                <canvas class="imageCanvas"></canvas>
                <div class="imageMenu">
                    <div class="icon-wrapper" onclick="removeImageMessage(event)">
                        <img class="icon" src="/static/icons/material/trash.svg"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="chat-input">
            <div class="icon-wrapper">
                <img class="icon" src="/static/icons/material/add.svg"/>
            </div>
            <label style="flex: 1;height: fit-content;">
                <textarea class="selected" rows="1" placeholder="${_t('Envoyer un message à')} @${getConvName(global.convs[global.state.activeConv])}" onkeydown="sendMessage(event)" oninput="resizeHeight(event)" onblur="saveCursorPosition(event)"></textarea>
            </label>
            <div class="icon-wrapper" onclick="silent_typing()">
                <img class="icon" src="/static/icons/material/keyboard.svg"/>
                <span class="tooltip bottom">${_t("Enable silent typing")}</span>
                <div class="line red medium"></div>
            </div>
            <div class="icon-wrapper">
                <img class="icon" src="/static/icons/material/gif.svg"/>
            </div>
            <div class="icon-wrapper" onclick="toggleFM('conv-emoji-board')">
                <img class="icon" src="/static/icons/material/emoji.svg"/>
            </div>
        </div>
    </div>

    <div id=typing-box>
        <div class="inline">
            <div class="circle first"></div>
            <div class="circle second"></div>
            <div class="circle third"></div>
            <div id="typing-name"></div>
            ${_t("is typing")}...
        </div>
    </div>
    <div id="conv-emoji-board" class="emoji-board">
        <div class="menu">
            <div class="inline gap">
                <div class="cat">GIF</div>
                <div class="cat selected">Émoji</div>
            </div>
            <div class="inline">
                <div class="search">
                    <label style="width: 100%;">
                        <input type="text" placeholder="${_t('Trouve l\'émoji parfait')}">
                    </label>
                    <div class="icon-wrapper">
                        <img class="icon" src="/static/icons/material/search.svg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="selector">
            <div class="cat-selector">
                ${fillWith('scroll-emoji',global.state.emojis)}
            </div>
            <div class="scrollable">
                ${fillWith('emoji-cat-input',global.state.emojis)}
            </div>
        </div>
        <div class="descriptor">
            <div class="tp-button">
                <div class="pfp grey"></div>
            </div>
            <div class="inline">
                <div id="hovered-emoji"></div>
                <p></p>
            </div>
        </div>
    </div>
    <div id="add-users" style="visibility: hidden">
        <h1>${_t("Sélectionne des amis")}</h1>
        <div class="inline">
            <p>${_t("Tu peux encore ajouter")} </p>

            ${initPendingMembers()}
            ${Subscribe("global.state.pendingConvMembers["+global.state.activeConv+"]",()=>{return 10 - global.state.pendingConvMembers[global.state.activeConv].length})}
            <p> ${_t("autres amis")}</p>
        </div>
        <label>
            <input type="text" placeholder="${_t('Entre le nom d\'utilisateur d\'un ami')}">
        </label>
        <div class="scrollable">
            ${fillWith("add-user-elt",global.user.friends)}
        </div>
        <div id="createConvBtn" class="blue btn disabled" onclick="createConv(event)">${_t("Créer un MP")}</div>
    </div>

    <div id="upload-wrapper" ondragleave="event.preventDefault();console.log(event.currentTarget.parentElement); event.currentTarget.parentElement.classList.remove('dragging')" ondrop="dropImageMessage(event)">
        <div>
            <div>
                <h2>${_t("Uploader vers @")}${Subscribe("global.convs["+global.state.activeConv+"].name", ()=>{return getConvName(global.convs[global.state.activeConv], true)})}</h2>
                <p>${_t("Tu peux ajouter des commentaires avant d'envoyer tes fichiers")}</p>
            </div>
        </div>
    </div>
</div>
