<div class="conv-block-message" id="message-${element.id}">
    <div class="conv-block-controls inline">
        ${element.sender === global.user.id ? `
        <div class="icon-wrapper" onclick="delMsg(${element.id})">
            <img class="icon" src="/static/icons/material/trash.svg"/>
        </div>` : ''}
    </div>
    <div class="conv-spreadsheet-container"
         data-block-id="${getConvSpreadsheetUuid(element)}"
         data-conv-id="${element.place}">
        <div class="spreadsheet-view"></div>
    </div>
</div>
