<div id="create-channel-menu" class="flying-menu">
    <div class="item" onclick="createChan('textual')">
        <img class="icon" src="/static/icons/material/hashtag.svg"/>
        <p>${_t("Salon textuel")}</p>
    </div>
    <div class="item" onclick="createChan('vocal')">
        <img class="icon" src="/static/icons/material/volume.svg"/>
        <p>${_t("Salon vocal")}</p>
    </div>
    <div class="item" onclick="createChan('drive')">
        <img class="icon" src="/static/icons/material/folder.svg"/>
        <p>${_t("Salon de stockage")}</p>
    </div>
</div>

