<section class="menu-wrapper" id="create-forum-post" style="display:none" onclick="event.target === event.currentTarget && (event.currentTarget.style.display='none')">
    <div class="menu" onclick="event.stopPropagation()">
        <div class="close" onclick="document.getElementById('create-forum-post').style.display='none'">+</div>
        <div class="step">
            <h2>${_t("New post")}</h2>

            <label>
                <input type="text" class="dark" data-post-title placeholder="${_t('Post title')}"/>
            </label>

            <div class="forum-tag-picker" data-tag-options-container></div>

            <label>
                <textarea class="dark" rows="5" data-post-content placeholder="${_t('Write your message...')}"></textarea>
            </label>

            <div class="btn blue" onclick="submitForumPost()">${_t("Create post")}</div>
        </div>
    </div>
</section>
