<div class="drive-file-item" data-file-id="${element.id}"
     draggable="true"
     ondragstart="onDriveItemDrag(event, 'file', ${element.id})"
     onclick="toggleDriveSelection('file', ${element.id}, event)">
    <div class="file-name">${element.filename}</div>
    ${getDriveFilePreviewHtml(element)}
    <div class="file-bottom">
        <div class="file-meta">
            <span>${formatFileSize(element.size)}</span>
            <span> • </span>
            <span>${element.uploader_name || 'Unknown'}</span>
            <span> • </span>
            <span>${formatDate(element.uploaded_at)}</span>
        </div>
        <div class="file-actions">
            <div class="icon-wrapper" onclick="event.stopPropagation(); downloadDriveFile(${element.id}, '${element.filename}')">
                <img class="icon" src="/static/icons/material/download.svg"/>
                <span class="tooltip bottom">${_t("Download")}</span>
            </div>
            <div class="icon-wrapper" onclick="event.stopPropagation(); deleteDriveFile(${element.id})">
                <img class="icon" src="/static/icons/material/trash.svg"/>
                <span class="tooltip bottom">${_t("Delete")}</span>
            </div>
        </div>
    </div>
</div>

