<div class="item" style="width:100%">
    <div class="container">
        <div class="inline">
            <div class="vertical">
                <h5>${element.email}</h5>
            </div>
        </div>
        <div class="inline reverse">
            <div class="action" onclick="removeEmail(${element.id})">
                <span class="tooltip bottom">${_t("Remove")}</span>
                <img class="icon medium" src="/static/icons/material/trash.svg">
            </div>
        </div>
    </div>
</div>

