<div class="group" id="emoji-cat-${element.name}">
    <div class="title" onclick="toggleGroup()">
        <img class="icon" src="/static/icons/material/${element.icon}.svg">
        <h3>${element.name}</h3>
        <div class="icon">&gt;</div>
    </div>
    <div class="cat">${element.status}</div>
</div>