<h1>${_t("Les Six Factions")}</h1>
<p>${_t("Bienvenue dans un monde où la technologie règne en maître, où les corporations dominent et où les individus luttent pour survivre et s'épanouir. Dans ce chaos urbain, six factions se distinguent, chacune avec ses propres valeurs, ses motivations et ses ambitions.")}</p>
<div class="btn blue" onclick="openMenu('test-faction')">${_t("Découvrez votre faction")}</div>