<div class="window">
    <h2>${_t("Invitation invalide")}</h2>
    <p>${_t("Cette invitation est peut-être expirée, ou tu n'as peut-être pas la permission de rejoindre.")}</p>
    <a href="/channels"><div class="btn">${_t("Retourner au chaud")}</div></a>
</div>