<div class="window">
    <h3>${_t("Tu as été invité.e à rejoindre")}</h3>
    <div class="inline">
        <div class="circle"></div>
        <h2>${global.state.serverName}</h2>
    </div>
    ${global.state.jwt ? `<a href="/join?source=${global.state.link}"><div class="btn">${_t("Rejoindre")}</div></a>` : `<a href="/auth?ref=${global.state.link}"><div class="btn">${_t("Se connecter ou S'inscrire")}</div></a>`}
</div>