<h1>${_t("Langue")}</h1>
<h3>${_t("SÉLECTIONNE UNE LANGUE")}</h3>
<div class="dropdown" id="lang-dropdown">
    <div class="dropdown-button" onclick="toggleDropdown(event)">
        <div class="dropdown-text">🇫🇷 Français</div>
        <div class="icon-wrapper">
            <img class="icon down" src="/static/icons/material/down.svg"/>
            <img class="icon up" src="/static/icons/material/up.svg"/>
        </div>
    </div>
    <ul class="dropdown-menu">
        <li class="selected lang-fr" onclick="setLang('fr')">🇫🇷 Français</li>
        <li class="lang-en" onclick="setLang('en')">🇬🇧 English</li>
    </ul>
</div>