<div class="search">
    <label style="width: 100%;">
        <input type="text" placeholder="${_t('Rechercher')}">
    </label>
    <div class="icon-wrapper">
        <img class="icon" src="/static/icons/material/search.svg"/>
    </div>
</div>
<div class="h2">${_t("EN LIGNE")} ─ 0</div>
<div class="scrollable">

</div>