<div class="inline" style="width: 100%">
    <div class="global-user-pfp pfp red" data-target="style" data-content="()=>{return 'background-image:url(/static/attachments/'+global.users[element]?.pfp+');'}" style="background-image:url(/static/attachments/${global.users[element]?.pfp}">
        <div class="activity-wrapper">
            ${Subscribe("global.users["+element+"].status.icon",()=>{return("<div class='activity "+global.users[element].status.icon)+"'></div>"},"grow")}
        </div>
    </div>
    <div style="width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">${global.users[element].display}</div>
</div>