<section class="menu-wrapper" id="custom-status" style="display:none" onclick="closeMenu()">
    <div class="menu">
        <div class="close" onclick="closeMenu('#custom-status')">+</div>
        <div style="width: 100%">
            <h2>${_t("Set custom status")}</h2>

            <div class="input-wrapper">
                <div class="icon-wrapper" onclick="toggleFM('emoji-board')" style="padding: 0 0.5rem;">
                    ${Subscribe("global.user.status.emoji", () => {return(global.user.status?.emoji?global.user.status.emoji:"<img class='icon' src='/static/icons/material/emoji.svg'>")},"icon-wrapper")}
                </div>
                <input type="text" id=input-status class="dark" placeholder="I'd like to move it move it" value="${global.user.status?.text}" >
            </div>

            <h3>${_t("DELETE LATER")}</h3>
            <div class="dropdown">
                <div class="dropdown-button" onclick="toggleDropdown(event)">
                    <div class="dropdown-text">${_t("Today")}</div>
                    <div class="icon-wrapper">
                        <img class="icon down" src="/static/icons/material/down.svg"/>
                        <img class="icon up" src="/static/icons/material/up.svg"/>
                    </div>
                </div>
                <ul class="dropdown-menu" id="drop-status-exp">
                    <li class="selected" onclick="changeDropdown(event)" data-value=0>${_t("Today")}</li>
                    <li onclick="changeDropdown(event)" data-value=1>${_t("4 hours")}</li>
                    <li onclick="changeDropdown(event)" data-value=2>${_t("1 hour")}</li>
                    <li onclick="changeDropdown(event)" data-value=3>30 minutes</li>
                    <li onclick="changeDropdown(event)" data-value=4>${_t("Never")}</li>
                </ul>
            </div>
            <hr>
            <h3>${_t("STATUS")}</h3>
            <div class="dropdown">
                <div class="dropdown-button" onclick="toggleDropdown(event)">
                    <div class="dropdown-text">${_t("Online")}</div>
                    <div class="icon-wrapper">
                        <img class="icon down" src="/static/icons/material/down.svg"/>
                        <img class="icon up" src="/static/icons/material/up.svg"/>
                    </div>
                </div>
                <ul class="dropdown-menu" id="drop-status-mode">
                    <li class="selected" onclick="changeDropdown(event)" data-value=0>
                        <div class="smol activity-wrapper">
                            <div class="activity green"></div>
                        </div>
                        ${_t("Online")}
                    </li>
                    <li onclick="changeDropdown(event)" data-value=1>
                        <div class="smol activity-wrapper">
                            <div class="activity orange"></div>
                        </div>
                        ${_t("Idle")}
                    </li>
                    <li onclick="changeDropdown(event)" data-value=2>
                        <div class="smol activity-wrapper">
                            <div class="activity RED"></div>
                        </div>
                        ${_t("Do not disturb")}
                    </li>
                    <li onclick="changeDropdown(event)" data-value=3>
                        <div class="smol activity-wrapper">
                            <div class="activity spymode"></div>
                        </div>
                        ${_t("Invisible")}
                    </li>
                </ul>
            </div>
            <div class="inline space-between">
                <div class="btn grey" onclick="closeMenu('#custom-status')">${_t("Cancel")}</div>
                <div class="btn blue" onclick="setCustomStatus()">${_t("Save")}</div>
            </div>
        </div>
    </div>
</section>

${getTemplate("emoji-board")}