${getSeparator(element)}
<div class="message-group">
  <div class="first-message-wrapper">
    ${getAnswerBlock(element)}
    <div class="first-message">
      ${Subscribe('global.users['+element.messages[0].sender+'].pfp',()=>{return 'background-image:url(/static/attachments/'+global.users[element.messages[0].sender]?.pfp+');'},"pfp red",{"target":"style"})}
      <div class="message-block">
        <div class="sender">
          ${Subscribe("global.users["+element.messages[0].sender.toString()+"].display", () => {return(global.users[element.messages[0].sender].display)},"h3")}
          <p>${getTimeStr(element.messages[0].timestamp)}</p>
        </div>
        ${fillWith('message',[element.messages[0]])}
      </div>
    </div>
  </div>
  ${fillWith('message',element.messages.slice(1)||[])}
</div>