<div class="group">
    <div class="message" id="message-${element.id}">
        <div class="content">
            <div class="meta"></div>
            <div class="inline message-opt">
                <div class="icon-wrapper" onclick="openReactionPicker(event, ${element.id})">
                    <img class="icon" src="/static/icons/material/emoji.svg" height="1.2rem"/>
                </div>
                ${element.sender === global.user.id && !isConvSpreadsheetMessage(element) ? `
                <div class="icon-wrapper" onclick="editMsg(${element.id})">
                    <img class="icon" src="/static/icons/material/edit.svg"  height="1.2rem"/>
                </div>
                ` : ''}
                <div class="icon-wrapper" onclick="reply(${element.id})">
                    <img class="icon" src="/static/icons/material/reply.svg"/>
                </div>
                ${element.sender === global.user.id ? `
                <div class="icon-wrapper" onclick="delMsg(${element.id})">
                    <img class="icon" src="/static/icons/material/trash.svg"/>
                </div>
                ` : ''}
            </div>

            ${isConvSpreadsheetMessage(element) ? fillWith('conv-spreadsheet-message', [element]) :
              isPollMessage(element) ? fillWith('poll-message', [element]) : `
            <div class="global-convs🪟${element.place}🥹-messages🪟${element.id}🥹-body mdBlock" data-content="()=>{
            return renderMessageBody(global.convs['${element.place}']?.messages['${element.id}'].body)
            }">${renderMessageBody(element.body)}</div>

            <div class="global-convs🪟${element.place}🥹-messages🪟${element.id}🥹-edited edited p" data-content="() => {
                return global.convs['${element.place}']?.messages['${element.id}']?.edited ? _t('(modifié)') : '';
            }">${element.edited ? _t('(modifié)') : ''}</div>

            <div class="messageAttachments">
                ${fillWith('attachment',element.attachments)}
            </div>
            `}

            <div class="global-convs🪟${element.place}🥹-messages🪟${element.id}🥹-reactions reactions-container" id="reactions-${element.id}"
                 data-content="() => {
                     const reactions = global.convs['${element.place}']?.messages['${element.id}']?.reactions;
                     if (!reactions) return '';
                     const reactionElements = Object.keys(reactions).map(emoji => ({
                         messageId: ${element.id},
                         place: ${element.place},
                         emoji: emoji,
                         voters: reactions[emoji]
                     }));
                     return fillWith('reaction-badge', reactionElements);
                 }">
                ${element.reactions ? (() => {
                    const reactionElements = Object.keys(element.reactions).map(emoji => ({
                        messageId: element.id,
                        place: element.place,
                        emoji: emoji,
                        voters: element.reactions[emoji],
                    }));
                    return fillWith('reaction-badge', reactionElements);
                })() : ''}
            </div>
        </div>
    </div>
</div>