<div class="group">
    <div class="message" id="message-${element.id}">
        <div class="content">
            <div class="meta"></div>
            <div class="inline message-opt">
                ${element.sender === global.user.id ? `
                <div class="icon-wrapper" onclick="editMsg(${element.id})">
                    <img class="icon" src="/static/icons/material/edit.svg"  height="1.2rem"/>
                </div>
                ` : ''}
                <div class="icon-wrapper" onclick="reply(${element.id})">
                    <img class="icon" src="/static/icons/material/reply.svg"/>
                </div>
                ${element.sender === global.user.id ? `
                <div class="icon-wrapper" onclick="delMsg(${element.id})">
                    <img class="icon" src="/static/icons/material/trash.svg"/>
                </div>
                ` : ''}
            </div>

            <div class="global-convs🪟${element.place}🥹-messages🪟${element.id}🥹-body mdBlock" data-content="()=>{
            return MDToHTML(global.convs['${element.place}']?.messages['${element.id}'].body)
            }">${MDToHTML(element.body)}</div>

            <div class="global-convs🪟${element.place}🥹-messages🪟${element.id}🥹-edited edited p" data-content="() => {
                return global.convs['${element.place}']?.messages['${element.id}']?.edited ? _t('(modifié)') : '';
            }">${element.edited ? _t('(modifié)') : ''}</div>

            <div class="imageMessage">
                ${fillWith('image',element.attachments)}
            </div>
        </div>
    </div>
</div>
