<div class="group">
    <div class="message" id="message-${element.id}">
        <div class="content">
            <div class="meta"></div>
            <div class="inline message-opt">
                <div class="icon-wrapper" onclick="editMsg(${element.id})">
                    <img class="icon" src="/static/icons/material/edit.svg"  height="1.2rem"/>
                </div>
                <div class="icon-wrapper" onclick="reply(${element.id})">
                    <img class="icon" src="/static/icons/material/reply.svg"/>
                </div>
            </div>
            <p>${MDToHTML(element.body)}</p>
            <div class="imageMessage">
                ${fillWith('image',element.attachments)}
            </div>
        </div>
    </div>
</div>
