<section class="menu-wrapper" id="poll-voters" style="display:none" onclick="closeMenu('#poll-voters','pollVotersSteps')">
    <div class="menu" onclick="event.stopPropagation()">
        <div class="close" onclick="closeMenu('#poll-voters','pollVotersSteps')">+</div>
        <div class="steps" id="pollVotersSteps">
            <div class="step">
                <h3 id="poll-voters-question"></h3>
                <div id="poll-voters-count" class="poll-voters-count"></div>
                <div class="poll-voters-content inline">
                    <div id="poll-voters-tabs" class="poll-voters-tabs"></div>
                    <div id="poll-voters-list" class="poll-voters-list scrollable"></div>
                </div>
            </div>
        </div>
    </div>
</section>

