<div id="profileInfo" class="flying-menu">
  <div class="banner">${Subscribe('global.state.profileInfo.banner',()=>{return global.state.profileInfo?.banner ? 'background-image:url(/static/attachments/'+global.state.profileInfo.banner+');' : '';},"banner",{"target":"style"})}</div>
  ${Subscribe('global.state.profileInfo',()=>{return 'background-image:url(/static/attachments/'+global.state.profileInfo?.pfp+');'},"profil-picture",{"target":"style"})}
  <div class="profil-wrapper">
    <div class="profil-badges"></div>
    <div class="profil-infos">
      ${Subscribe('global.state.profileInfo.display',()=>{return(global.state.profileInfo?.display)},"name")}
      ${Subscribe('global.state.profileInfo.username',()=>{return(global.state.profileInfo?.username)},"username")}
      ${Subscribe('global.state.profileInfo.pronouns',()=>{return(global.state.profileInfo?.pronouns)},"pronouns")}
      <hr>
      <p>${Subscribe('global.state.profileInfo.description',()=>{return(global.state.profileInfo?.description ? "<h3>".concat(_t("ABOUT ME"),"</h3>",MDToHTML(global.state.profileInfo?.description)) : "")},"mdBlock")}</p>
      <div class="userRoles">
        <div class="global-state-profileInfo global-state-currentServer-members🪟global.state.profileInfo.id🥹.roles" data-content="()=&gt;{return(global.state.isServer ? fillWith(&quot;role-display&quot;,global.state.currentServer.members[global.state.profileInfo.id].roles) : &quot;&quot;)}">
        </div>
        ${Subscribe('global.state.profileInfo', ()=>{return(global.state.isServer ?  "<div class='attributeRole' onclick='showAddRole(event)'>+</div>" : "")})}
      </div>
    </div>
  </div>

  ${Subscribe('global.state.profileInfo', ()=>{return(global.state.isServer ? '<div id="addRole" class="scrollable" style="display: none">' + fillWith("role-element-modale", global.state.currentServer.roles) + '</div>' : "")})}
</div>