<h1>${_t("Profils")}</h1>

<div class="inline gap">
    <div class="half vertical">
        <h3>${_t("NOM D'AFFICHAGE")}</h3>
        <label>
            <input type="text" id="display-name-input" value="${global.user.display}" oninput="updatePreview(event, 'global.user.display')">
        </label>
        <hr>
        <h3>${_t("PRONOMS")}</h3>
        <label>
            <input type="text" id="pronouns-input" value="${global.user.pronouns ? global.user.pronouns : ''}"  oninput="updatePreview(event, 'global.user.pronouns ? global.user.pronouns : emptyStr')">
        </label>
        <hr>
        <h3>${_t("A PROPOS DE MOI")}</h3>
        ${_t("Si tu veux, tu peux utiliser la syntaxe Markdown et des liens.")}

        <div class="chat-input">
            <label style="flex: 1;height: fit-content;">
                <textarea id="description-input" class="selected" rows="5" maxlength="250" onblur="saveCursorPosition(event)" oninput="updatePreview(event, 'global.user.description ? global.user.description : emptyStr',{title: '<h3>ABOUT ME</h3>',value:'MDToHTML(event.currentTarget.value)'})">${global.user.description ? global.user.description : ''}</textarea>
            </label>
            <div class="icon-wrapper" onclick="toggleFM('std-emoji-board')">
                <img class="icon" src="/static/icons/material/emoji.svg">
            </div>
        </div>
    </div>
    <div class="modale" id="editPfp">
        <div class="item" onclick="openMenu('loadImage')">${_t("Changer d'avatar")}</div>
    </div>
    <div class="half vertical">
        <h3>${_t("APERCU")}</h3>
        <div class="user-profile">
            <div class="banner"></div>
            <div class="profil-picture" onclick="toggleModale('editPfp',event)">
                <img style="height: 100%;width: 100%;position: absolute" src="/static/attachments/${global.user.pfp}" alt="user profile picture">
                <div class="edit"><img src="/static/icons/material/edit.svg"/></div>
            </div>
            <div class="profil-wrapper">
                <div class="profil-badges">
                </div>
                <div class="profil-infos">
                    <div class="name form-display-name-input">${global.user.display}</div>
                    <div class="username">${Subscribe('global.user.username',()=>{return(global.user.username)})}</div>
                    <div class="pronouns form-pronouns-input">${global.user.pronouns ? global.user.pronouns : ''}</div>
                    <hr>
                    <div class="form-description-input mdBlock">${global.user.description ? "<h3>".concat(_t("ABOUT ME"),"</h3>",MDToHTML(global.user.description)) : ''}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="save-settings" style="display: none">
    <p>${_t("Attention, il reste des modifications non enregistrées !")}</p>
    <div class="underlhover" onclick="reset()">${_t("Réinitialiser")}</div>
    <div class="btn green" onclick="Save()">${_t("Enregistrer les modifications")}</div>
</div>

${getTemplate("std_emojis-board")}
