${element.category === null ? fillWith('server-route-channel', [element]) : `<div class="group">
    <div class="title" onclick="toggleGroup()" ${checkServRights('edit') ? 'draggable="true" ondragstart="onSnippetDrag(event)"' : ''} data-id="${element.id}" data-pos="${element.place}" data-type="cat" oncontextmenu="toggleModale('edit-cat-modale',event)">
        <div class="icon">></div>
        <h2>${element.name.toUpperCase()}</h2>
    </div>
    ${fillWith('server-route-channel', element.channels)}
</div>`}