<h1>${_t("EDIT ROLE")} - ${global.state.currentRole.name}</h1>
<div class="tabs">
    <h2 onclick="goTo('roleEditContent', 'server-role-settings-display')" class="selected">${_t("Display")}</h2>
    <h2 onclick="goTo('roleEditContent', 'server-role-settings-rights')">${_t("Rights")}</h2>
</div>
<div id="roleEditContent">
    ${getTemplate('server-role-settings-display')}
</div>
<div id="formRole" class="save-settings" style="display: none">
    <p>${_t("Attention, il reste des modifications non enregistrées !")}</p>
    <div class="underlhover" onclick="reset()">${_t("Réinitialiser")}</div>
    <div class="btn green" onclick="Save('editRole')">${_t("Enregistrer les modifications")}</div>
</div>