<div class="selected-info">
    <div class="title">
        ${global.state.isMobile?'<img class="icon" src="/static/icons/material/back.svg" onclick="mobileHideContent()" style="margin-right: 0.6rem"/>':''}
        <img class="icon" src="/static/icons/material/folder.svg" style="margin-right: 0.5rem;">
        ${Subscribe("global.convs["+global.state.activeChan.id+"].name", ()=>{return global.convs[global.state.activeChan.id].name})}
    </div>
    <div>
        <img class="icon"  onclick="createNewDriveFolder()" src="/static/icons/material/folder.svg" title="${_t('New folder')}"/>
        <img class="icon" onclick="uploadDriveFile()" src="/static/icons/material/add.svg" title="${_t('Upload files')}"/>
        <img class="icon" onclick="uploadDriveFolder()" src="/static/icons/material/groupadd.svg" title="${_t('Upload a folder')}"/>
        <img class="icon" onclick="toggleMenu('member-list',true,'member-list-wrapper')" src="/static/icons/material/group.svg" style="margin-right: 0.8rem;">
        <img class="icon" src="/static/icons/material/inbox.svg" style="margin-right: 0.8rem;">
        <img class="icon" src="/static/icons/material/help.svg">
    </div>

</div>

<div class="inline" style="width: 100%;height: calc(100svh - 3rem);">
    <div style="display: flex;flex-direction: column;width:100%;height: 100%;padding: 1rem;">
        <div style="display: flex; align-items: center; margin-bottom: 1rem;">
            ${Subscribe('global.driveCurrentFolder['.concat(global.state.activeChan.id,']'), ()=>{
                const currentFolder = global.driveCurrentFolder[global.state.activeChan.id];
                if (currentFolder && currentFolder.length > 0) {
                    let breadcrumb = `<div class="drive-breadcrumb-item"
                        ondragover="onDriveRootDragOver(event)"
                        ondragleave="onDriveRootDragLeave(event)"
                        ondrop="onDriveBreadcrumbDrop(event, null)">
                        <div class="icon-wrapper" onclick="navigateDriveFolderUp()">
                            <img class="icon" src="/static/icons/material/reply.svg"/>
                            <span class="tooltip bottom">${_t("Go back")}</span>
                        </div>
                    </div>`;
                    // Show the full folder path as breadcrumb items (each is a drop target)
                    for (let i = 0; i < currentFolder.length; i++) {
                        const f = currentFolder[i];
                        const isLast = i === currentFolder.length - 1;
                        if (isLast) {
                            breadcrumb += `<span class="drive-breadcrumb-sep">/</span>
                                <span class="drive-breadcrumb-current">${f.name}</span>`;
                        } else {
                            breadcrumb += `<span class="drive-breadcrumb-sep">/</span>
                                <span class="drive-breadcrumb-item"
                                    ondragover="onDriveRootDragOver(event)"
                                    ondragleave="onDriveRootDragLeave(event)"
                                    ondrop="onDriveBreadcrumbDrop(event, ${f.id})"
                                    style="cursor:pointer;">${f.name}</span>`;
                        }
                    }
                    return breadcrumb;
                }
                return '<h3>' + _t("Files and folders") + '</h3>';
            })}
        </div>
        <div id="drive-files-list" class=""
             style="flex: 1; overflow-y: auto;"
             ondragover="onDriveUploadDragOver(event)"
             ondragleave="onDriveUploadDragLeave(event)"
             ondrop="handleDriveExternalDrop(event)"
             onclick="if(event.target === this || event.target.id === 'drive-files-list') clearDriveSelection()">
            ${Subscribe('global.driveFolders['.concat(global.state.activeChan.id,']'), ()=>{
                const folders = global.driveFolders[global.state.activeChan.id] || [];
                const files = global.driveFiles[global.state.activeChan.id] || [];
                return fillWith('drive-folder-item', folders) + fillWith('drive-file-item', files);
            },"drive-files-list")}
        </div>
    </div>
</div>

<input type="file" id="drive-file-input" multiple style="display: none;" onchange="handleDriveFileSelect(event)"/>
<input type="file" id="drive-folder-input" webkitdirectory directory multiple style="display: none;" onchange="handleDriveFolderSelect(event)"/>

