<div class="selected-info">
    <div class="title">
        <img class="icon" src="/static/icons/material/hashtag.svg"/>
        HEHEHEH
    </div>
    <div>
        <img class="icon" src="/static/icons/material/inbox.svg" style="margin-right: 0.8rem;">
        <img class="icon" src="/static/icons/material/help.svg">
    </div>
</div>
<div class="scrollable bottom-margin">
    ${getTemplate('welcomeTextChannelElement')}
</div>
<div class="chat-wrapper">
    <div id="replyBox">
        <p>${_t("Répondre à")} <b id="replyName"></b></p>
        <div class="icon-wrapper" onclick="cancelReply()">
            <img class="icon" src="/static/icons/material/closeFilled.svg"/>
        </div>
    </div>
    <div class="chat-input">
        <div class="icon-wrapper">
            <img class="icon" src="/static/icons/material/add.svg"/>
        </div>
        <label style="flex: 1;height: fit-content;">
            <textarea class="selected" rows="1" placeholder="${_t('Envoyer un message à')} @PLACEHOLDER" onkeydown="sendMessage(event)" oninput="resizeHeight(event)" onblur="saveCursorPosition(event)"></textarea>
        </label>
        <div class="icon-wrapper" onclick="silent_typing()">
            <img class="icon" src="/static/icons/material/keyboard.svg"/>
            <span class="tooltip bottom">${_t("Enable silent typing")}</span>
            <div class="line red medium"></div>
        </div>
        <div class="icon-wrapper">
            <img class="icon" src="/static/icons/material/gif.svg"/>
        </div>
        <div class="icon-wrapper" onclick="toggleFM('conv-emoji-board')">
            <img class="icon" src="/static/icons/material/emoji.svg"/>
        </div>
    </div>
</div>

<div id=typing-box>
    <div class="inline">
        <div class="circle first"></div>
        <div class="circle second"></div>
        <div class="circle third"></div>
        <div id="typing-name"></div>
        ${_t("is typing")}...
    </div>
</div>
<div id="conv-emoji-board" class="emoji-board">
    <div class="menu">
        <div class="inline gap">
            <div class="cat">GIF</div>
            <div class="cat selected">Émoji</div>
        </div>
        <div class="inline">
            <div class="search">
                <label style="width: 100%;">
                    <input type="text" placeholder="${_t('Trouve l\'émoji parfait')}">
                </label>
                <div class="icon-wrapper">
                    <img class="icon" src="/static/icons/material/search.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="selector">
        <div class="cat-selector">
            ${fillWith('scroll-emoji',global.state.emojis)}
        </div>
        <div class="scrollable">
            ${fillWith('emoji-cat-input',global.state.emojis)}
        </div>
    </div>
    <div class="descriptor">
        <div class="tp-button">
            <div class="pfp grey"></div>
        </div>
        <div class="inline">
            <div id="hovered-emoji"></div>
            <p></p>
        </div>
    </div>
</div>