<div class="selected-info">
    <div class="title">
        ${global.state.isMobile?'<img class="icon" src="/static/icons/material/back.svg" onclick="mobileHideContent()" style="margin-right: 0.6rem"/>':''}
        <img class="icon" src="/static/icons/material/note.svg"/>
        ${Subscribe("global.notes[global.state.activeChan.id].name", ()=>{return global.notes[global.state.activeChan.id].name})}
    </div>
</div>


<div class="scrollable" style="width: 100%;height: calc(100svh - 3rem);flex-direction: column;">
    <div class="editor" id="note-editor">
        ${fillWith('note-block', global.state.noteEditor.getSortedBlocks())}
    </div>
</div>