<div class="group">
    <div class="title" onclick="toggleGroup()" draggable="true" ondragstart="onSnippetDrag(event)" data-id="${element.id}" data-pos="${element.place}" data-type="cat">
        <div class="icon">></div>
        <h2>${element.name.toUpperCase()}</h2>
    </div>
    ${fillWith('server-textual-channel', element.channels)}
</div>