<h1>${_t("Vue d'ensemble du serveur")}</h1>
<div class="inline" style="gap:0.6rem">
    <div class="circle red big">
    </div>
    <div class="server-name">
        <h2>${_t("NOM DU SERVEUR")}</h2>
        <input id="name-input" type="text" placeholder="${_t('nom du serveur')}" value="${global.state.currentServer.name}" oninput="updatePreview('formServer', event, 'global.state.currentServer.name')">
    </div>
</div>
<hr>
<h2>${_t("SERVER ICON")}</h2>
<p>${_t("We recommend an image size of 512 x 512.")}</p>
<div class="inline" style="margin-top: 0.6rem;">
    <div class="btn blue" onclick="global.state.uploadImage = 'serverAvatar'; openMenu('loadImage')">
        ${_t("Change server's icon")}
    </div>
</div>

<div id="formServer" class="save-settings" style="display: none">
    <p>${_t("Attention, il reste des modifications non enregistrées !")}</p>
    <div class="underlhover" onclick="reset()">${_t("Réinitialiser")}</div>
    <div class="btn green" onclick="Save('editServer')">${_t("Enregistrer les modifications")}</div>
</div>
<hr>
<h2>${_t("TYPE DE SERVEUR")}</h2>
<p>${_t("Each user can have a personal server, they are meant to be your own server, where you store your data and invite your friends")}</p>
<div class="btn red ${global.state.currentServer.type=='personal'?'hidden':''}" style="margin-top:0.6rem" onclick="makePersonalServer()">${_t('convertir en serveur perso ')} (OWNER ONLY)
</div>
