<section id="settings" style="display:none">
  <div id="settings-list" class="scrollable settings-list">
    <section id="general-settings">
      <h3>${_t("PARAMÈTRES UTILISATEURS")}</h3>
      <div class="item selected"  onclick="goTo('setting-content', 'account-settings',{'category':'currentSettingTab' ,'event': event})">${_t("Mon compte")}</div>
      <div class="item" id="profil-settings" onclick="goTo( 'setting-content', 'profile-settings',{'category':'currentSettingTab' ,'event': event})">${_t("Profils")}</div>
      <div class="item">${_t("Confidentialité & sécurité")}</div>
      <div class="item">${_t("Demandes d'amis")}</div>
      <hr>
      <h3>${_t("PARAMÈTRES DE L'APPLI")}</h3>
      <div class="item">${_t("Voix & Vidéo")}</div>
      <div class="item">${_t("Discuter")}</div>
      <div class="item">${_t("Notifications")}</div>
      <div class="item">${_t("Raccourcis clavier")}</div>
      <div class="item" onclick="goTo( 'setting-content', 'lang-settings',{'category':'currentSettingTab' ,'event': event},true,setLangDropdownText)">${_t("Langue")}</div>
      <div class="item">${_t("Mode streamer")}</div>
      <hr>
      <div class="item" id="faction-test" onclick="goTo('setting-content', 'factions',{'category':'currentSettingTab' ,'event': event})">${_t("Test de faction")}</div>
      <hr>
    </section>
    <section id="account-actions" onclick="logout()">
      <div class="item">${_t("Déconnexion")}
        <div class="grey circle"></div>
      </div>
      <hr>
    </section>
    <section id="misc-information">
      <div class="misc">V1 - pre-release 0</div>
    </section>
  </div>
  <div id="setting-panel" class="scrollable">
      <div id="setting-content" class="setting-content">
        ${getTemplate('account-settings')}
      </div>
      <div class="close" onclick="closeMenu('#settings')">+</div>
  </div>
</section>