<div id="std-emoji-board" class="emoji-board">
    <div class="menu">
        <div class="inline">
            <div class="search">
                <label style="width: 100%;">
                    <input type="text" placeholder="${_t('Trouve l\'émoji parfait')}">
                </label>
                <div class="icon-wrapper">
                    <img class="icon" src="/static/icons/material/search.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="selector">
        <div class="cat-selector">
            ${fillWith('scroll-emoji',global.state.emojis)}
        </div>
        <div class="scrollable">
            ${fillWith('emoji-cat-input',global.state.emojis)}
        </div>
    </div>
    <div class="descriptor">
        <div class="inline">
            <div id="hovered-emoji"></div>
            <p></p>
        </div>
    </div>
</div>