<section class="menu-wrapper" id="test-faction" style="display:none" onclick="closeMenu(undefined,'testFactionSteps')">
  <div class="menu">
    <div class="close" onclick="closeMenu('#test-faction','testFactionSteps')">+</div>
    <div class="steps" id="testFactionSteps">
      <div class="step">
        <h2>${_t("Question")} 1 ${_t("sur")} 6</h2>
        <p>${_t("Vous venez de trouver une puce de données cachée contenant des informations classifiées. Que faites-vous ?")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="0">${_t("Cracker le code et vendre l'information au plus offrant.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="1">${_t("Contacter un groupe de hackers et vous partagez l'information anonymement.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="2">${_t("La remettre aux autorités.")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="gotoStep(1,'testFactionSteps')">${_t("Question suivante")}</div>
        </div>
      </div>

      <div class="step">
        <h2>${_t("Question")} 2 ${_t("sur")} 6</h2>
        <p>${_t("Votre meilleur ami est endetté auprès de quelqu'un de dangereux. Quelle-est la meilleure solution ?")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="2">${_t("Convaincre votre ami de travailler dur afin de se remettre sur pied.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="0">${_t("Défier l'usurier en duel ou en compétition.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="1">${_t("Mobiliser votre réseau et mettre en commun les ressources pour le rembourser.")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="gotoStep(2,'testFactionSteps')">${_t("Question suivante")}</div>
        </div>
      </div>

      <div class="step">
        <h2>${_t("Question")} 3 ${_t("sur")} 6</h2>
        <p>${_t("Vous vivez dans une ville dangereuse, Le réseau électrique local tombe en panne, plongeant la ville dans le noir. Quel est votre premier geste ?")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="0">${_t("Se diriger vers le marché noir pour trouver des sources d'énergie alternatives.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="2">${_t("Organiser une surveillance de quartier pour maintenir l'ordre jusqu'au rétablissement du courant.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="1">${_t("Fortifier votre appartement et attendre la suite des événements.")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="gotoStep(3,'testFactionSteps')">${_t("Question suivante")}</div>
        </div>
      </div>

      <div class="step">
        <h2>${_t("Question")} 4 ${_t("sur")} 6</h2>
        <p> ${_t("Vous assistez à une scène où un groupe intimide une personne seule. Que faites-vous ?")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="3">${_t("Vous intervenez directement pour défendre la personne, quel que soit le risque.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="4">${_t("Vous appelez discrètement la sécurité ou la police pour régler la situation.")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="gotoStep(4,'testFactionSteps')">${_t("Question suivante")}</div>
        </div>
      </div>

      <div class="step">
        <h2>${_t("Question")} 5 ${_t("sur")} 6</h2>
        <p>${_t("Un ami proche vous demande de l'aider à dissimuler un délit qu'il a commis.")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="4">${_t("Vous refusez catégoriquement de mentir pour lui, même si cela risque de blesser votre amitié.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="3"> ${_t("Vous essayez de trouver une solution alternative pour l'aider à éviter les conséquences, même si cela implique une certaine ruse.")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="gotoStep(5,'testFactionSteps')">${_t("Question suivante")}</div>
        </div>
      </div>

      <div class="step">
        <h2>${_t("Question")} 6 ${_t("sur")} 6</h2>
        <p>${_t("Vous découvrez un implant cérébral interdit qui permet d'accéder gratuitement à des implants médicaux onéreux.")}</p>
        <div class="option" onclick="selectAnswer(event)" data-id="3">${_t("Vous l'installez et en profitez pour améliorer votre propre santé.")}</div>
        <div class="option" onclick="selectAnswer(event)" data-id="4">${_t("Vous refusez de l'utiliser, craignant les virus et les risques pour votre santé (paralysie, psychose, mort).")}</div>
        <div class="inline space-between">
          <div class="btn grey" onclick="closeMenu('#test-faction','testFactionSteps')">${_t("Annuler")}</div>
          <div class="btn blue" onclick="finishQuizzz()">${_t("Question suivante")}</div>
        </div>
      </div>
    </div>
  </div>
</section>
