<div class="search">
    <label style="width: 100%;">
        <input type="text" placeholder="${_t('Rechercher')}">
    </label>
    <div class="icon-wrapper">
        <img class="icon" src="/static/icons/material/search.svg"/>
    </div>
</div>
<div class="h2">${_t("WAITING")} ─ ${Subscribe('global.user.invitations', () => {return global.user.invitations.length})}</div>
<div class="scrollable">
    ${Subscribe("global.user.invitations", () => fillWith("invitationCard", global.user.invitations), 'column')}
</div>