<div id="welcome-message">
    <div class="big pfp grey">
    </div>
    <h1>${_t("Bienvenue dans")} #${"PLACEHOLDER"}${_t(" !")}</h1>
    <div class="p">${_t("C'est le début du salon #")}${"PLACEHOLDER"}.</div>
</div>