<div id="welcome-message">
    <div class="big pfp red">
    </div>
    <h1>${Subscribe("global.convs["+global.state.activeConv+"].name", ()=>{return getConvName(global.convs[global.state.activeConv])})}</h1>
    <div class="p">${_t("Bienvenue au début du groupe privé")} <b>${Subscribe("global.convs["+global.state.activeConv+"].name", ()=>{return getConvName(global.convs[global.state.activeConv])})}</b></div>
</div>